{% extends 'layout/base.html' %}

{% block title %}
  Login
{% endblock %}

{% block top %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Üye Girişi!</h1>
      <p>
          {% if user.is_authenticated %}
            Merhaba {{ user.username}}, logged-in oldugunuz icin giris yapamazsınız.
          {% else %}
            Aşağıdaki form'u kullanarak üye girişi yapabilirsiniz.
          {% endif %}
      </p>

    </div>
  </div>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Çıkış yapmak için <a href = "{% url 'logout'%}">tıklayın</a>
    {% else %}
        <form method = 'post' action="">
        {% csrf_token %} <!-- Formlarda token olusturmak zorundayız.-->
        {{form.as_ul}}
        <input type ="submit" value="Giriş">
        </form>
    {% endif %}

{% endblock %}

