{% extends 'project/layout/base.html' %}

{% block title %}
  Şifre Değiştirme
{% endblock %}

{% block top %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Şifre Değiştirme!</h1>
        <p>Merhaba {{user.username}}, asagidaki form araciligi ile sifrenizi degistiriebilirsiniz.</p>
    </div>
  </div>
{% endblock %}

{% block content %}
<form method ="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="Submit">Şifre Değiştir</button>
</form>
{% endblock %}

